/* css by @frenchfriesRgud 

*/
:root {
    --ui-transition:all 0.5s;
    --am-logo-fill: white;
    --color-am-red:#ff2d55;
}
* {
    /* transition: var(--ui-transition); */
    -webkit-tap-highlight-color: transparent;
}
html, body {
    font-family: 'SanFranciscoText-Regular', Helvetica, Arial, sans-serif;
    height: auto;
}
html, body, h1, h2, h3, h4 {
    padding: 0;
    margin: 0
}
html {
    background: #f7f7f7;
}
body {
    max-width: 600px;
    min-height:100%;
    margin: auto;
    background: White;
    box-shadow: 0px 0px 50px #e6e6e6;
}
h1 {
    font-family: 'SanFranciscoDisplay-Heavy', Helvetica, Arial, sans-serif;
    user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}
h2, h3, h4, h5, h6 {
    font-family: 'SanFranciscoDisplay-Regular', Helvetica, Arial, sans-serif;
    user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}
/* top header */
.header {
    display: flex;
    justify-content:space-between;
    padding: 10px;
    transition: var(--ui-transition);
    user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}
.header .action {
    color: var(--color-am-red);
    font-size: 1.2em;
    transition: var(--ui-transition);
}
.header #header-logo {
    user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}
.header #header-logo:hover {
    cursor: pointer;
}
.header .beta {
    font-size: 0.5em;
}
.beta {
    vertical-align: middle;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background: var(--color-am-red);
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #e6e6e6;
    text-shadow: none;
}
.app-credit-title .beta {
    font-size: 0.5em;
}
.action:hover {
    cursor:pointer;
}
.focus {
    font-weight:bold;
}
/* end header */

/* app layout  */
.app {
    padding-left:50px;
    padding-right:50px;
}
/* end */

/* artwork viewport */

.viewport {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:20px;
    /* transition: var(--ui-transition); */
}
.artwork {
    width: 250px;
    height: 250px;
    background:purple;
    color:white;
    align-self:center;
    border-radius:10px;
    display:flex;
    background-size: cover;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
    /* transition: var(--ui-transition); */
}
.artwork:hover {
    cursor: pointer;
    
}
.artwork .title, #playlist-name-text {
    overflow-wrap: break-word;
}
.artwork .title, #playlist-title {
    font-family: "SanFranciscoDisplay-Heavy", Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    overflow-wrap: break-word;
}
.artwork #playlist-sub-title {
    font-family: "SanfranciscoText-Regular", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    background:transparent;
    overflow-wrap: break-word;
}
.artwork #am-logo {
    width:30%;
}
.artwork #am-logo svg {
    fill: var(--am-logo-fill);
}
.filter {
    display:flex;
    width:100%;
    border-radius: 10px;
}
.spacer {
    padding:25px;
    width: 100%;
    border-radius: 10px;
    box-sizing:border-box;
    user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}
.name {
    color: rgba(255, 255, 255, 0.5);
}

/* end artwork viewport */

/* controls */
.field-group {
    display:flex;
    justify-content: center;
}
.info .input-field {
    border: 0;
    appearance: none;
    outline: 0;
    font-size:1.3em;
    display:block;
    text-align:center;
    background: transparent;
    background-color: transparent;
    color: rgb(190, 190, 190);
    margin: 0 auto;
    transition: var(--ui-transition);
}
.info .input-name {
    /* text-align:left; */
}
.info #name-at::before {
    /* content: '@'; */
}
.info .input-field:focus {
    color:black;
}
.info .input-playlist {
    color: var(--color-am-red);
    font-size: 1.5em;
}
.info .input-playlist {
}
.info .input-playlist::-webkit-input-placeholder { /* Edge */
  color: var(--color-am-red);
}

.info .input-playlist:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--color-am-red);
}

.info .input-playlist::placeholder {
  color: var(--color-am-red);
}
.divider {
    border:1px solid #f7f7f7;
    margin-top: 20px;
    margin-bottom: 20px;
}

.toggle-group {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 0px;
    transition: var(--ui-transition);
}
.toggle-group h3 {
    transition: var(--ui-transition);
}
/* toggle */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input:checked + .slider {
  background-color: #34c759;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input:focus + .slider {
  box-shadow: 0 0 1px #34c759;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.slider.round:before {
  border-radius: 50%;
}
/* end toggle */

.option-group {
    display:flex;
    justify-content:space-between;
    margin-top: 20px;
    user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}
.option-group-full .options {
    width:100%;
    user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}
.option-group-full .options ul {
    display:flex;
    justify-content:space-evenly;
}
.option-group-full .options ul .option {
    padding-left:20px;
    padding-right:20px;
}
.options ul {
    display:flex;
    margin:0;
    padding:3px;
    padding-left:0px;
    padding-right:0px;
    list-style:none;
    background: #e8e8ea;
    border-radius: 7px;
}

.options ul .option {
    border-radius: 7px;
    padding-left:22px;
    padding-right:22px;
    padding-top:5px;
    padding-bottom:5px;
    margin:0 3px;
    font-size:1.3em;
    display:flex;
    align-items:center;
    touch-action: manipulation;
    transition: var(--ui-transition);
    user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}
.options ul .option:hover {
    cursor:pointer;
}
.options ul .active {
    background:white;
    box-shadow:0px 0px 5px rgb(160, 160, 160);
}
/* foregrounds */
.foreground-choices {
    display:flex;
    flex-direction: column;
    margin-bottom:10px;
}
.foreground-group {
    display:flex;
    width:100%;
    flex-direction:column;
    justify-content: space-between;
}
.foreground-custom {
    display:flex;
    align-items:center;
}
.custom-label {
    margin-left: 20px;
}
.custom-label:hover {
    cursor:pointer;
}
.custom-gradient-drawer {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
#gradient-direction, #gradient-inverse {
    font-size: 2em;
    padding:10px;
    border-radius:50%;
    background:#f7f7f7;
}
#gradient-direction:hover, #gradient-inverse {
    cursor:pointer;
}
.foreground-palette {
    display:flex;
    width:100%;
    justify-content: space-between;
}
.foreground-group ul {
    list-style:none;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    min-height: 220px;
    padding: 0px;
    margin: 0px;
}
.foreground-group ul li {
    display:flex;
    justify-content:center;
    align-items:center;
    height: 50px;
    width: 50px;
    border-radius:50%;
    background-size:cover;
    border:4px solid transparent;
    background-clip: padding-box;
    transition: var(--ui-transition);
}
/* alterante radius for images */
.foreground-image ul .foreground-option {
    border-radius: 20%;
    
}
.foreground-option:hover {
    cursor: pointer;
    border:4px solid rgb(238, 238, 238);
}
.foreground-option:active {
    transform: scale(1.1);

}
.foreground-active {
    border:4px solid white!important;
    box-shadow:0px 0px 5px rgb(160, 160, 160);
}
/* custom foreground col */
ul.custom-col {
    min-height: 0px;
}
/* end foregrounds */
/* end controls */
/* Settings */
#settings-label {
    margin-left: auto;
    margin-right: 10px;
}
#settings-toggle-group:hover {
    cursor: pointer;
}
#settings-toggle-group {
    display: flex;
    margin-left: auto;
    align-items: center;
    transition: var(--ui-transition);
}
#use-settings-radio {
    font-size: 2em;
}
/* end Settings */
/* footer */
footer {
    text-align:center;
    padding:20px;
}
footer:hover {
    cursor: pointer;
}
.credit, #created-date {
    opacity:0.5;
    font-size: 0.8em;
}
.credit-link {
    text-decoration: none;
    color: #ff2d55;
}
/* end footer */

.slider-group {
    padding-left:20px;
    padding-right:20px;
}
.slider-group h3 {
    font-weight:bold;
}


