/* css by @frenchfriesRgud 

*/
:root {
    --ui-transition:all 0.5s;
}
* {
    /* transition: var(--ui-transition); */
    -webkit-tap-highlight-color: transparent;
}
html, body {
    font-family: 'SanFranciscoText-Regular', Helvetica, Arial, sans-serif;
    height: auto;
}
html, body, h1, h2, h3, h4 {
    padding: 0;
    margin: 0
}
html {
    background: #f7f7f7;
}
body {
    max-width: 600px;
    min-height:100%;
    margin: auto;
    background: White;
    box-shadow: 0px 0px 50px #e6e6e6;
}
h1 {
    font-family: 'SanFranciscoDisplay-Heavy', Helvetica, Arial, sans-serif;
    user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}
h2, h3, h4, h5, h6 {
    font-family: 'SanFranciscoDisplay-Regular', Helvetica, Arial, sans-serif;
    user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}
/* top header */
.header {
    display: flex;
    justify-content:space-between;
    padding: 10px;
    transition: var(--ui-transition);
    user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}
.header .action {
    color: #ff2d55;
    font-size: 1.2em;
    transition: var(--ui-transition);
}
.action:hover {
    cursor:pointer;
}
.focus {
    font-weight:bold;
}
/* end header */

/* app layout  */
.app {
    padding-left:50px;
    padding-right:50px;
}
/* end */

/* artwork viewport */

.viewport {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:20px;
    transition: var(--ui-transition);
}
.artwork {
    width: 250px;
    height: 250px;
    background:purple;
    color:white;
    align-self:center;
    border-radius:10px;
    display:flex;
    background-size: cover;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
    transition: var(--ui-transition);
}
.artwork:hover {
    cursor: pointer;
    
}
.artwork .title {
    font-family: "SanFranciscoDisplay-Bold", Helvetica, Arial, sans-serif;
    font-size: 1.4em;
}
.filter {
    display:flex;
    width:100%;
    border-radius: 10px;
}
.spacer {
    padding:25px;
    width: 100%;
    border-radius: 10px;
    box-sizing:border-box;
    user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}
.name {
    color: rgba(255, 255, 255, 0.5);
}

/* end artwork viewport */

/* controls */
.field-group {
    display:flex;
    justify-content: center;
}
.info .input-field {
    border: 0;
    appearance: none;
    outline: 0;
    font-size:1.3em;
    display:block;
    text-align:center;
    background: transparent;
    background-color: transparent;
    color: rgb(190, 190, 190);
    margin: 0 auto;
    transition: var(--ui-transition);
}
.info .input-name {
    /* text-align:left; */
}
.info #name-at::before {
    /* content: '@'; */
}
.info .input-field:focus {
    color:black;
}
.divider {
    border:1px solid #f7f7f7;
    margin-top: 20px;
    margin-bottom: 20px;
}

.toggle-group {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 0px;
    transition: var(--ui-transition);
}
.toggle-group h3 {
    transition: var(--ui-transition);
}
/* toggle */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input:checked + .slider {
  background-color: #34c759;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input:focus + .slider {
  box-shadow: 0 0 1px #34c759;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.slider.round:before {
  border-radius: 50%;
}
/* end toggle */

.option-group {
    display:flex;
    justify-content:space-between;
    margin-top: 20px;
    user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}
.option-group-full .options {
    width:100%;
    user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}
.option-group-full .options ul {
    display:flex;
    justify-content:space-evenly;
}
.option-group-full .options ul .option {
    padding-left:20px;
    padding-right:20px;
}
.options ul {
    display:flex;
    margin:0;
    padding:3px;
    padding-left:0px;
    padding-right:0px;
    list-style:none;
    background: #e8e8ea;
    border-radius: 7px;
}

.options ul .option {
    border-radius: 7px;
    padding-left:22px;
    padding-right:22px;
    padding-top:5px;
    padding-bottom:5px;
    margin:0 3px;
    font-size:1.3em;
    display:flex;
    align-items:center;
    touch-action: manipulation;
    transition: var(--ui-transition);
    user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}
.options ul .option:hover {
    cursor:pointer;
}
.options ul .active {
    background:white;
    box-shadow:0px 0px 5px rgb(160, 160, 160);
}
/* foregrounds */
.foreground-choices {
    display:flex;
    flex-direction: column;
    margin-bottom:10px;
}
.foreground-group {
    display:flex;
    width:100%;
    justify-content: space-between;
}
.foreground-group ul {
    list-style:none;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    min-height: 220px;
    padding: 0px;
    margin: 0px;
}
.foreground-group ul li {
    display:flex;
    justify-content:center;
    align-items:center;
    height: 50px;
    width: 50px;
    border-radius:50%;
    background-size:cover;
    border:4px solid transparent;
    background-clip: padding-box;
    transition: var(--ui-transition);
}
/* alterante radius for images */
.foreground-image ul .foreground-option {
    border-radius: 20%;
    
}
.foreground-option:hover {
    cursor: pointer;
    border:4px solid rgb(238, 238, 238);
}
.foreground-option:active {
    transform: scale(1.1);

}
.foreground-active {
    border:4px solid white!important;
    box-shadow:0px 0px 5px rgb(160, 160, 160);
}
/* end foregrounds */
/* end controls */

/* footer */
footer {
    margin-top:50px;
    text-align:center;
    padding:20px;
}
footer:hover {
    cursor: pointer;
}
.credit, #created-date {
    opacity:0.5;
    font-size: 0.8em;
}
.credit-link {
    text-decoration: none;
    color: #ff2d55;
}
/* end footer */

/* credits page */

section#credit {
    padding:50px;
}
section#credit .handle {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin:0 auto;
}
section#credit .author-avi {
    font-size:3em;
}
.app-logo {
    border-radius: 20px;
    align-self:center;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}
.app-credit-title {
    text-shadow: -2px -2px 5px white;
    margin-top: 20px!important;
    font-family: "SanFranciscoDisplay-Heavy", Helvetica, Arial, sans-serif
}
#version {
    padding-bottom:10px;
}
section#credit h1 {
    margin-top:50px;
}
.meta {
    display:flex;
    flex-direction: column;
    margin-top:30px;
    user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none; 
    justify-content:center;
}
.author-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:20px;
    padding-bottom:20px;
}
span.photo-id {
    padding: 10px;
    background-size: cover;
    color: rgba(255, 255, 255, 0.397);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.438);
    border-radius: 5px;
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
    pointer-events:none;
    font-weight: 600;
}
p.photo-credit {
    font-size: 0.8em;
    user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}

p.photo-credit .credit-link {
    color: rgb(78, 78, 78)!important;
}
/* utilities */
.hide {
    display:none;
}
.disappear {
    opacity: 0;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
    visibility: hidden;
}
.nofocus {
    opacity: 0.3;
}
.text-shadow {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.blur-backdrop {
    -webkit-backdrop-filter: blur(10px);   
    backdrop-filter: blur(10px);
}
.inset-shadow {
    box-shadow: 0px 0px 100px  rgba(0,0,0,0.5) inset;
}

/* artwork display */

.display {
    background:transparent;
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
    padding-bottom: 0px;
}
.display .artwork {
    width: 100%;
    border-radius:0px;
    box-shadow: none;
}
.display .artwork:hover {
    box-shadow: none;
}
.display #spacer {
    padding-right: 0px;
}
.display .artwork .filter {
    border-radius: 0px;
}
.display .artwork .spacer {
    font-size: 1.4em;
}

/* screenshot message */
.create-info {
    text-align:center;
    padding-top:0px;
}
.create-info .divider {
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
}
.screenshot-message {
    margin-top: 20px;
    color:rgba(0, 0, 0, 0.4);
}
.create-info h3 {
    font-family: 'SanFranciscoText-Light', Helvetica, Arial, sans-serif;
    font-weight: 100;
}

.slider-group {
    padding-left:20px;
    padding-right:20px;
}
.slider-group h3 {
    font-weight:bold;
}


